@import url("./__list/navbar__list.css");
@import url("./__list-link/navbar__list-link.css");
@import url("./__logo/navbar__logo.css");
@import url("./__social/navbar__social.css");

.navbar {
  background: #393939;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  display: flex;
  margin: 20px 100px 0 100px;
  padding: 17px 20px;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 260px);
  max-width: 1020px;
}

.navbar_theme_light {
  background: #EFEFEF;
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 0 20px 0;
    min-width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    top: 22px;
    margin: 0 12px 0;
    min-width: 280px;
    justify-content: start;
    padding: 17px 12px;
  }
}
