@import url("./__check-mark/products__check-mark.css");
@import url("./__list-item/products__list-item.css");
@import url("./__list/products__list.css");
@import url("./__description/products__description.css");
@import url("./__text-container/products__text-container.css");
@import url("./__gallery-container/products__gallery-container.css");
@import url("./__image-container/products__image-container.css");
@import url("./__item-description-container/products__item-description-container.css");
@import url("./__content/products__content.css");

.products {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  .products {
    padding: 110px 85px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .products {
    padding: 10px 12px 80px;
  }
}
